@if ( vm$ | async; as vm ) {

    @if ( vm.isHeadActive ) {

        <div class="tw-flex tw-justify-between tw-gap-4">
        
            <div class="tw-flex tw-items-center tw-gap-2">
        
                @if ( vm.isCloseButtonActive ) {
                    <i class="bi bi-arrow-bar-left btn btn-light !tw-text-base !tw-shadow" 
                        (click)="close( $event )"></i>
                }
        
                <h4>{{ vm.title }}</h4>
        
            </div>
    
    
            <app-buttons-menu [vm$]="buttonsMenuComponentVm$"/>
        
        </div>
        
    }
    
    
    <div class="tw-flex tw-justify-center tw-overflow-auto tw-max-h-full">
    
        <div class="tw-flex tw-flex-col tw-gap-4 tw-w-full
            lg:tw-grid lg:tw-grid-cols-2">
    
            @if ( 
                vm.stateComponent === StateComponentMovimientoPantallaComponent.readMemory || 
                vm.stateComponent === StateComponentMovimientoPantallaComponent.readServer || 
                vm.stateComponent === StateComponentMovimientoPantallaComponent.none 
            ) {

                <!-- IDENTIFICACION -->
                <div>
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Codigo</label>
                    <div>{{ movimientoPantalla.codigo ?? '-' }}</div>
                </div>

                <div class="lg:tw-col-span-2">
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Concepto</label>
                    <div>{{ movimientoPantalla.concepto ?? '-' }}</div>
                </div>

                <div>
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Fecha Emisión</label>
                    <div>{{ Prop.toDateTime( movimientoPantalla.fechaEmision ).isValid ? Prop.toDateTime( movimientoPantalla.fechaEmision).toFormat( 'dd/MM/yyyy HH:mm' ) : '-' }}</div>
                </div>

                <div>
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Fecha Anulación</label>
                    <div>{{ Prop.toDateTime( movimientoPantalla.fechaAnulacion ).isValid ? Prop.toDateTime( movimientoPantalla.fechaAnulacion ).toFormat( 'dd/MM/yyyy HH:mm' ) : '-' }}</div>
                </div>

                <div>
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Usuario Emisor</label>
                    <div>{{ movimientoPantalla.usuario?.nombre ?? '-' }}</div>
                </div>

                <div class="lg:tw-col-span-2">
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Importe Neto</label>
                    <div>{{ Prop.toDecimal( movimientoPantalla.importeNeto ).toFixed( 2 ) }}</div>
                </div>
                
                @if ( vm.isAttached ) {
                    <div class="lg:tw-col-span-2">
                        <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Documento de Transaccion</label>
                        <div>{{ 
                            movimientoPantalla.documentoTransaccion?.codigoSerie !== undefined && 
                            movimientoPantalla.documentoTransaccion?.codigoSerie !== null &&
                            movimientoPantalla.documentoTransaccion?.codigoNumero !== undefined && 
                            movimientoPantalla.documentoTransaccion?.codigoNumero !== null
                            ? ( movimientoPantalla.documentoTransaccion?.codigoSerie + '-' + movimientoPantalla.documentoTransaccion?.codigoNumero )
                            : '-'
                        }}</div>
                    </div>
                }

            }
            @else {
                
                <div class="lg:tw-col-span-2">
                    <label class="form-label !tw-m-0 !tw-text-base !tw-font-bold">Concepto</label>
                    <input type="text" 
                        class="form-control !tw-text-base"
                        [(ngModel)]="movimientoPantalla.concepto">
                </div>

                <div>
                    <label class="form-lable !tw-m-0 !tw-text-base !tw-font-bold">Fecha de Emisión</label>
                    <input type="datetime-local"
                        class="form-control !tw-text-base"
                        [(ngModel)]="movimientoPantalla.fechaEmision">
                </div>

                <div>
                    <label class="form-lable !tw-m-0 !tw-text-base !tw-font-bold">Fecha de Anulación</label>
                    <input type="datetime-local"
                        class="form-control !tw-text-base"
                        [(ngModel)]="movimientoPantalla.fechaAnulacion">
                </div>

                <div class="lg:tw-col-span-2">
                    <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Importe Neto</label>
                    <div>{{ Prop.toDecimal( movimientoPantalla.importeNeto ).toFixed( 2 ) }}</div>
                </div>

                @if ( vm.isAttached ) {

                    <div class="lg:tw-col-span-2">
                        <label class="form-label !tw-text-base !tw-font-bold !tw-m-0">Documento Transacción Asociado</label>
                        <input type="text"
                            class="form-control !tw-text-base !tw-cursor-pointer"
                            (click)="selectDocumentoTransaccion( $event )"
                            (keydown.enter)="selectDocumentoTransaccion( $event )"
                            [ngModel]="
                                movimientoPantalla.documentoTransaccion?.codigoSerie !== undefined && 
                                movimientoPantalla.documentoTransaccion?.codigoSerie !== null &&
                                movimientoPantalla.documentoTransaccion?.codigoNumero !== undefined && 
                                movimientoPantalla.documentoTransaccion?.codigoNumero !== null
                                    ? movimientoPantalla.documentoTransaccion?.codigoSerie + '-' + movimientoPantalla.documentoTransaccion?.codigoNumero
                                    : ''
                            "
                            readonly>
                    </div>
                    
                }

            }


            <!-- DETALLES -->
            <app-table class="!tw-p-0 !tw-rounded-none !tw-shadow-none !tw-max-h-[50vh]
                lg:tw-col-span-2"
                (onInit)="detallesTableComponentOnInit( $event )"
                (onSelectItem)="openDetalleComponent(
                    vm.stateComponent === StateComponentMovimientoPantallaComponent.createMemory ||
                    vm.stateComponent === StateComponentMovimientoPantallaComponent.createServer ||
                    vm.stateComponent === StateComponentMovimientoPantallaComponent.updateMemory
                        ? StateObjectComponent.read
                        : StateObjectComponent.none,

                    $event.item
                )"/>
    
        </div>
    
    </div>
    
    <app-buttons-footer [vm$]="buttonsFooterComponentVm$"/>

}